<div class="row">
    <div class="col-sm-12 ">
        <div class="head">
            <table>
                <tr>
                    <th>



                    </th>
                    <th>
                        <mat-card-title class="chat-display-tiltle">Profile</mat-card-title>
                        

                    </th>
                    <th>

                        <mat-icon class="notification-icon">notifications</mat-icon>
                    </th>
                </tr>

            </table>

            <!-- <mat-progress-bar mode="determinate" value="90"></mat-progress-bar> -->
        </div>

        <mat-divider class="div-color"></mat-divider>


    
        
        


        <div class="image">
            <img class="image-profile"
                src="https://www.businessbecause.com/uploads/default/news/images/e1055ba5f628f0b964c4b89031f1daf2ecf16b48.jpg"
                alt="">
        </div>


        <div class="details">

            <mat-card-title class="pro-title">{{name}}</mat-card-title>
            <mat-card-subtitle class="pro-sub-title">{{email}}</mat-card-subtitle>
            <mat-card-subtitle class="pro-sub-title">{{mobile}}</mat-card-subtitle>
            <mat-card-subtitle class="pro-sub-title">{{address}}</mat-card-subtitle>

        </div>


        <div>
            <mat-card class="example-card">
                <mat-card-header class="header">
                    <mat-card-title class="title-group">About</mat-card-title>
                    <mat-card-subtitle class="subtitle-group">{{about}}</mat-card-subtitle>
                  
                    
                   
                  
                </mat-card-header>
            </mat-card>
        </div>
        <div>
            <mat-card class="example-card">
                <mat-card-header class="header">
                  
                  <mat-card-title class="title">Block </mat-card-title>
                  <mat-icon class="block-icon">block</mat-icon>
                  
                  
                </mat-card-header>
            </mat-card>
        </div>
        <div>
            <mat-card class="example-card">
                <mat-card-header class="header">
                    <mat-icon class="delete-icon">delete</mat-icon>
                    <mat-card-title class="title">Delete Chat</mat-card-title>
                    
                    
                  
                    
                </mat-card-header>
            </mat-card>
        </div>

    </div>   
</div>