<div class="row">
  <div class="serach">
    <table>
      <tr>
        <th>
          
          <mat-card-title class="pro-class-tiltle">Connectus</mat-card-title>
          <label class="sub-chatlist">Actived Chatlist</label>
        </th>
        <th>
          <mat-icon class="bell">search</mat-icon>
        </th>
      </tr>
      <mat-divider></mat-divider>
    </table>
  </div>
  <mat-divider></mat-divider>

  <mat-card class="example-card">
    <mat-card-header class="header">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="title">{{name1}}</mat-card-title>
      <mat-icon class="tick">done_all</mat-icon>
      <mat-card-subtitle class="sub-title">why you are no...</mat-card-subtitle>

    </mat-card-header>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-card class="example-card">
    <mat-card-header class="header">
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title class="title">{{name2}}</mat-card-title>
      <mat-icon class="tick">done_all</mat-icon>
      <mat-card-subtitle class="sub-title">Tell me what so..</mat-card-subtitle>
    </mat-card-header>


  </mat-card>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-card class="example-card">
    <mat-card-header class="header">
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title class="title">{{name3}}</mat-card-title>
      <mat-icon class="tick">done_all</mat-icon>
      <mat-card-subtitle class="sub-title">Tell me what so..</mat-card-subtitle>
    </mat-card-header>


  </mat-card>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-card class="example-card">
    <mat-card-header class="header">
      <div mat-card-avatar class="example-header-image3"></div>
      <mat-card-title class="title">{{name4}}</mat-card-title>
      <mat-icon class="tick">done_all</mat-icon>
      <mat-card-subtitle class="sub-title">Tell me what so..</mat-card-subtitle>
    </mat-card-header>


  </mat-card>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-card class="example-card">
    <mat-card-header class="header">
      <div mat-card-avatar class="example-header-image4"></div>
      <mat-card-title class="title">{{name5}}</mat-card-title>
      <mat-icon class="tick">done_all</mat-icon>
      <mat-card-subtitle class="sub-title">Tell me what so..</mat-card-subtitle>
    </mat-card-header>


  </mat-card>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-card class="example-card">
    <mat-card-header class="header">
      <div mat-card-avatar class="example-header-image5"></div>
      <mat-card-title class="title">{{name6}}</mat-card-title>
      <mat-icon class="tick">done_all</mat-icon>
      <mat-card-subtitle class="sub-title">Tell me then so..</mat-card-subtitle>
    </mat-card-header>


  </mat-card>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-card class="example-card">
    <mat-card-header class="header">
      <div mat-card-avatar class="example-header-image6"></div>
      <mat-card-title class="title">{{name7}}</mat-card-title>
      <mat-icon class="tick">done_all</mat-icon>
      <mat-card-subtitle class="sub-title">Tell me what so..</mat-card-subtitle>
    </mat-card-header>


 


  </mat-card>







</div>