<div class="row">

  <div class="serach">
    <table>
      <tr>
        <th>
          <!-- <mat-card-header class="header">
            <div mat-card-avatar class="example-header-image1"></div>
            <mat-card-title class="title">{{name}}</mat-card-title>
            
            
            
          </mat-card-header> -->

          <mat-card-title class="chat-display-tiltle">{{name}}</mat-card-title>
          <mat-card-subtitle class="cat-display-subtitle">last seen today at 3 am</mat-card-subtitle>
        </th>
        <th>
          <mat-icon class="video-icon">videocam</mat-icon>
        </th>
        <th>

          <mat-icon class="more-icon">more_vert</mat-icon>
        </th>
      </tr>

    </table>
    <mat-divider class="div-color"></mat-divider>

  </div>


  <div>
    <mat-card class="example-card">
      <mat-card-header class="header">

        <mat-card-subtitle class="sub-title-chat">Hai</mat-card-subtitle>
        <mat-icon class="tick">10.08pm</mat-icon>
      </mat-card-header>


    </mat-card>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>




    <mat-card class="example-card1">
      <mat-card-header class="header">

        <mat-card-subtitle class="sub-title-chat">Hai</mat-card-subtitle>
        <mat-icon class="tick1">10.08pm</mat-icon>
      </mat-card-header>


    </mat-card>


    <mat-card class="example-card">
      <mat-card-header class="header">

        <mat-card-subtitle class="sub-title-chat">Why</mat-card-subtitle>
        <mat-icon class="tick">10.10pm</mat-icon>
      </mat-card-header>


    </mat-card>



    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-card class="example-card1">
      <mat-card-header class="header">

        <mat-card-subtitle class="sub-title-chat"> so..</mat-card-subtitle>
        <mat-icon class="tick1">10.08pm</mat-icon>
      </mat-card-header>


    </mat-card>



    <mat-card class="example-card">
      <mat-card-header class="header">

        <mat-card-subtitle class="sub-title-chat">Then...</mat-card-subtitle>
        <mat-icon class="tick">10.30pm</mat-icon>
      </mat-card-header>


    </mat-card>






  </div>

  <div class="col-lg-6 xs-12">
    <table>
      <tr>
        <th>
          <mat-card class="example-card-message">
            <input  class="message-box" type="text" placeholder="Type a message">
            <mat-icon class="pin-icon">attachment</mat-icon>
            <mat-icon class="send-icon">send</mat-icon>
            
          </mat-card>
        </th>
        <th>
          
        </th>
      </tr>

    </table>
  </div>




</div>